.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 95px;
    padding: 0 50px;
}

.left-side-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.left-side-navigation input {
    border-radius: 90px;
    width: 607px;
    height: 44px;
    background: #302f2d;

    padding-left: 20px;
    border: none;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #adadad;
}

.right-side-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.right-side-navigation img {
    border-radius: 35px;
    width: 47px;
    height: 47px;
    background: transparent;
}

.right-side-navigation button {
    background: transparent;
    border: none;
}

.right-side-navigation input {
    border-radius: 90px;
    width: 238px;
    height: 44px;
    background: #302f2d;    
    
    padding-left: 20px;
    border: none;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #adadad;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 800px;
    border: none;
    background: transparent;
    color: white;
    outline: none;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 800px;
    background: #191918;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-result {
    padding: 8px;
    cursor: pointer;
    color: white;
    font-family: var(--font-family);
}

.search-result:hover {
    background: #555;
}

.notification-panel {
    position: absolute;
    top: 11%;
    right: 8%;
    width: 290px;
    height: 300px;
    background: #42413F;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-family);
    animation: slideIn 0.3s ease-out forwards, fadeIn 0.3s ease-out forwards;
    transform-origin: top right;
    opacity: 0;
}

.notification-panel button:hover {
    background: #4a8a43;
}

@keyframes slideIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bell {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.right-side-navigation {
    position: relative;
    display: flex;
    align-items: center;
}