.my-orders h1 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 36px;
  color: #fff;
  margin-top: 135px;
  margin-left: 85px;
}

.order-list {
  border-radius: 28px;
  width: 515px;
  height: 117px;
  background: #42413f;
  margin-left: 105px;
  margin-top: 45px;
}